@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  /* padding: 0; */
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  padding: 0 32px;
  margin: 0 -16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  z-index: 999;
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.anchor {
  position: fixed;
  top: 150px;
  right: 50px;
  z-index: 9;
  /* border-radius: 12px; */
  backdrop-filter: blur(6px);
  /* box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05); */
}

.anchor-title {
  margin-bottom: 8px;
  padding: 4px 12px;
}

.anchor-item {
  cursor: pointer;
  font-size: 14px;
  padding: 2px 12px;
  border-left: 3px solid #eee;
}

.anchor-item.sub-item {
  padding-left: 24px;
}

.anchor-item:hover {
  color: #0074de;
  border-left: 3px solid #0074de;
}

@media screen and (max-width: 480px) {
  .anchor {
    display: none;
  }
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.search-container input {
  height: 40px;
  width: 400px;
  padding: 0 12px;
  transition: width .2s;
  border: 1px solid #eee;
}

.search-container.w-full input {
  width: 100%;
}

#autocomplete-listbox {
  z-index: 999;
  width: 100%;
  background-color: #efefef;
}

html.dark #autocomplete-listbox {
  background-color: #3b3b3b;
}

.title {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  transition: text-shadow .2s ease-in;
}

.title:hover {
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

html.dark .title:hover {
  text-shadow: 2px 2px 20px rgba(250, 250, 250, 0.9);
}

#autocomplete-listbox > div {
  height: 40px;
  line-height: 36px;
  padding: 2px 12px;
}

#autocomplete-listbox > div[role="option"] {
  cursor: pointer;
}

#autocomplete-listbox > div[role="option"]:hover {
  background-color: #69778c;
  color: white;
}

.flex {
  display: flex;
}

.flex-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: center;
}

.bubbly-button {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 140%;
  left: -15%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, transparent 20%, #5470F6 20%, transparent 30%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, transparent 10%, #5470F6 15%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, transparent 10%, #5470F6 15%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%), radial-gradient(circle, #5470F6 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.98);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}