.container {
  position: relative;
  overflow: hidden;
  width: 124px;
  height: 124px;
  margin: 100px auto;
  border-radius: 50%;
}

.shadow {
  --color: #1e91e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  border: 0;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 60px -60px 0 2px var(--color), -60px -60px 0 2px var(--color),
  -60px 60px 0 2px var(--color), 60px 60px 0 2px var(--color);
  text-align: center;
}

.shadow:hover {
  --color: #1e91e9;
  animation: border .5s ease forwards;
}

@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px var(--color), -60px -60px 0 2px var(--color), -60px 60px 0 2px var(--color), 60px 60px 0 2px var(--color), 0 0 0 2px transparent;
  }
  25% {
    box-shadow: 0 -125px 0 2px var(--color), -60px -60px 0 2px var(--color), -60px 60px 0 2px var(--color), 60px 60px 0 2px var(--color), 0 0 0 2px #ccc;
  }

  50% {
    box-shadow: 0 -125px 0 2px var(--color), -125px 0px 0 2px var(--color), -60px 60px 0 2px var(--color), 60px 60px 0 2px var(--color), 0 0 0 2px #ccc;
  }

  75% {
    box-shadow: 0 -125px 0 2px var(--color), -125px 0px 0 2px var(--color), 0px 125px 0 2px var(--color), 60px 60px 0 2px var(--color), 0 0 0 2px #ccc;
  }

  100% {
    box-shadow: 0 -125px 0 2px var(--color), -125px 0px 0 2px var(--color), 0px 125px 0 2px var(--color), 120px 40px 0 2px var(--color), 0 0 0 2px #ccc;
  }
}